<div class="container mt-4">
    <button (click)='backToUsers()' class="btn btn-outline-primary float-right">
        Back to Users
    </button>
    <h2>User Details</h2>
    <div *ngIf='person' class="card m-5" style="width: 18rem;">
        <img src="../../assets/user-icon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{person.name}}</h5>
          <p class="card-text">Age: {{person.age}}</p>
          <p class="card-text">Country: {{person.country}}</p>
          <p class="card-text">Scores: {{person.scores}}</p>
          <button (click)='deleteUser()' class="btn btn-danger">Delete User</button>
        </div>
      </div>
</div>
